@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>

<address>
    Rua Manoel Batista - 18 (1º andar)<br />
    Campina Grande, PB<br />
    <abbr title="Telefone">Contato:</abbr>
    (83) 9 9161-3215 | (83) 2153-8402
    <br />
    <abbr title="Linkedin"><a href="https://www.linkedin.com/in/matheusglauber/">Linkedin</a></abbr>
    <abbr title="GitHub"><a href="https://github.com/Matheus-Glauber">GitHub</a></abbr>
    <abbr title="GitLab"><a href="https://gitlab.com/Matheus-Glauber">GitLab</a></abbr>
</address>
